$white: #FFFFFF;
$black: #000000;
$impact-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$columns: 4;

body{
    color: $white;
    background-color: $black;
    font: $impact-font;
    text-align: center;
    padding: 10em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 200px;
}

@for $width from 1 through $columns {
    .col-#{width} {
        flex-basis: $width / $columns * 100%;
    }
}

#searchbar {
    border: 5px solid;
    border-radius: 5px;
    width: 500px;
    margin-right: 10px;
    flex: 50%;
}

@media (max-width: 320px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }