body{
    color: white;
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 10em;
}

#searchbar{
    border: 5px solid;
    border-radius: 5px;
    width: 500px;
    margin-right: 10px;
}